body {background-color:#e0e3bd;
font-family: Arial, sans serif;
}

#container {
background-color: white;
width: 900px;
margin-left: auto;
margin-right: auto;
}

#header {
height: 175px;
background-image: url("banner.png");
background-repeat: no-repeat;
margin-left: auto;
margin-right: auto;
text-align: right;
color: Red;
padding-top: 20px;
}

h1, h2, h3 {font-family: 'Inknut Antiqua', serif;
margin: 0;
}

ul {list-style-type: none;
text-align: left;
padding-top: 0;
}
#content {padding: 20px;
color: #696969; }

#nav {
width: 200px;
float: left;
}

a {text-decoration: none;}
a:link {color: darkgrey;
}
a:hover {color: #db2247;
}

a:visited {
color: #2F4F4F;
}

#main {width: 650px;
float: right;
}

#footer {clear: both;
height: 30px;
background color: lightblue;
text-align: right;
padding-right: 10px;
color: white;
}
